<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.anoobis.platformioXcode100.xcode4.template.sketch</string>
	<key>Concrete</key>
	<false/>
	<key>Description</key>
	<string>This template creates a sketch for PlatformIO.</string>
	<key>SortOrder</key>
	<integer>9</integer>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>AllowedTypes</key>
	<array>
		<string>public.c-header</string>
		<string>public.c-plus-plus.source</string>
		<string>public.c-source</string>
	</array>
	<key>Ancestors</key>
	<array/>
	<key>Definitions</key>
	<dict/>
	<key>Nodes</key>
	<array/>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
		<key>BasedOn</key>
		<dict>
			<key>Debug</key>
			<string></string>
			<key>Release</key>
			<string></string>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>PATH</key>
			<string>$(PATH):$(PROJECT_DIR)</string>
			<key>HEADER_SEARCH_PATHS</key>
			<string>$(inherited)</string>
			<key>PRODUCT_NAME</key>
			<string>$(TARGET_NAME)</string>
			<key>UPDATE_POLICY</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array/>
	<key>Options</key>
	<array>
		<dict>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Provide a name of the sketch</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Sketch Name:</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>true</string>
			<key>Description</key>
			<string>Keep the sketch Arduino IDE compatible</string>
			<key>Identifier</key>
			<string>isArduinoCompatible</string>
			<key>Name</key>
			<string>Arduino IDE compatible</string>
			<key>SortOrder</key>
			<integer>2</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>false</key>
				<array>
					<dict>
						<key>Macros</key>
						<dict>
							<key>PIO_SOURCE_DIR</key>
							<string>src</string>
						</dict>
						<key>Definitions</key>
						<dict>
							<key>src/___VARIABLE_productName___.ino</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
								</array>
								<key>Path</key>
								<string>___PROJECTNAMEASIDENTIFIER___.ino</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>src/___VARIABLE_productName___.ino</string>
						</array>
					</dict>
				</array>
				<key>true</key>
				<array>
					<dict>
						<key>Macros</key>
						<dict>
							<key>PIO_SOURCE_DIR</key>
							<string>.</string>
						</dict>
						<key>Definitions</key>
						<dict>
							<key>___VARIABLE_productName___.ino</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
								</array>
								<key>Path</key>
								<string>___PROJECTNAMEASIDENTIFIER___.ino</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___VARIABLE_productName___.ino</string>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
